#grid-container {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  height: 90vh;
  width: 90vh;
  margin: 0 auto;
}

.grid-box.painted {
  background-color: brown;
}

#grid-container, .grid-box {
  border: 1px solid black;
}

