#grid-container {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  height: clamp(90vw, 90vh, 90vh);
  width: clamp(90vw, 90vh, 90vh);
  margin: 0 auto;
}

.grid-box {
  box-shadow: 0 0 0 1px grey inset;
  min-width: 10px;
  min-height: 10px;
  background-color: rgba(0,0,0,0);
}